---
import Image from 'astro/components/Image.astro';
import Hero from '../components/main/Hero.astro';
import Footer from '../components/main/Footer.astro';
import Layout from '../layouts/Layout.astro';
import AnimateOnScroll from '../animations/AnimateOnScroll.astro';
import Navbar4 from '../components/navbars/Navbar4.astro';
import bgPatternBottom from '../assets/white-bg-pattern-bottom.webp';
import Menu from '../components/main/Menu.astro';
import specialLong from '../../public/img/placeholder/special-long.webp';
import specialFirst from '../../public/img/placeholder/special-1.webp';
import specialSecond from '../../public/img/placeholder/special-2.webp';
import cateringOne from '../assets/catering-1.webp';
import cateringTwo from '../assets/catering-2.webp';
import Gallery1 from '../components/galleries/Gallery1.astro';
---

<Layout
  title='Stari Vajat - Domaća kuhinja i kuvana jela u Jakovu'
  metaTitle='Stari Vajat | Preko 20 kuvanih jela svakog dana - Jakovo'
  ogTitle='Stari Vajat - Domaća kuhinja Jakovo'
  metaDescription='Restoran Stari Vajat u Jakovu nudi preko 20 kuvanih jela svakog dana, uz bogat jelovnik brze hrane, pića i kolača. Svratite ili poručite za poneti i dostavu'
  ogDescription='Preko 20 kuvanih jela svakog dana, uz bogat jelovnik brze hrane, pića i kolača'
  canonical='http://localhost:4321/'>
  <Navbar4 />
  <Hero />
  <section class='one' id='specijal'>
    <AnimateOnScroll animation='up-slide'>
      <div class='wrapper-1'>
        <div class='text'>
          <h2>Specijalna Ponuda</h2>
          <p>
            Redovno pravimo specijalne ponude i akcije koje menjamo svakih 10-ak dana, kako biste uvek imali priliku da
            uživate u omiljenim jelima po povoljnijim cenama. Pratite naše aktuelne ponude, svratite do restorana ili
            poručite na vreme i iskoristite posebne akcije dok traju.
          </p>
        </div>
        <Image src={specialLong} alt='Specijalna Ponuda' class='special-long' loading='lazy' />
        <!-- <div class='card long'></div> -->
      </div>
    </AnimateOnScroll>
    <AnimateOnScroll animation='up-slide' delay={0.2}>
      <div class='cards-wrapper'>
        <Image src={specialFirst} alt='Specijalna Ponuda' class='card special' loading='lazy' />
        <Image src={specialSecond} alt='Specijalna Ponuda' class='card special' loading='lazy' />
      </div>
    </AnimateOnScroll>
  </section>
  <Image src={bgPatternBottom} alt='' class='bg-pattern bottom' loading='lazy' />
  <section class='catering' id='ketering'>
    <div class='catering-text'>
      <h2>Proslave i korporativne ponude</h2>
      <p>
        <strong>Stari Vajat</strong> nudi posebne opcije za <strong
          >firme, korporativne proslave, rođendane i privatna okupljanja</strong
        >. Bilo da organizujete poslovni ručak, slavlje sa kolegama ili porodičnu proslavu, pripremamo bogatu ponudu
        hrane prilagođenu vašim potrebama.
      </p>

      <p>
        U dogovoru sa vama obezbeđujemo <em>raznovrsna kuvana jela, roštilj, brzu hranu i priloge</em>, uz fleksibilne
        količine, pouzdnu uslugu i domaći kvalitet po kome smo prepoznatljivi.
      </p>

      <p>
        <strong>Kontaktirajte nas unapred</strong> kako bismo zajedno kreirali ponudu koja odgovara vašem događaju i omogućili
        vama i vašim gostima da bez brige uživate u slavlju.
      </p>
    </div>
    <div class='catering-imgs-wrapper'>
      <Image src={cateringTwo} alt='hrana za proslavu' class='catering-img' loading='lazy' />
      <Image src={cateringOne} alt='ketering' class='catering-img' loading='lazy' />
    </div>
  </section>
  <Menu />
  <Gallery1 />
  <Footer />
</Layout>

<style>
  section {
    text-align: center;
    color: var(--text-700);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: var(--y-spacing-tablet) var(--x-spacing-desktop);
  }

  section.one {
    background: url('../assets/food-bg-white-2.webp') no-repeat;
    background-size: cover;
    background-color: white;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-600);
  }

  section.one .wrapper-1 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  section.one .text {
    flex: 1;
  }

  .card.long {
    flex: 0 0 50%;
    height: 250px;
    margin-left: 2rem;
    border-radius: var(--rounded-xl);
    background-color: var(--secondary-600);
  }
  .cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-600);
  }

  .card {
    flex: 0 0 50%;
    height: auto;
    border-radius: var(--rounded-md);
    background-color: var(--secondary-600);
  }
  .bg-pattern.bottom {
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: -2px;
  }

  .catering {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-700);
    padding: var(--y-spacing-tablet) var(--x-spacing-desktop) 0;
  }

  .catering-imgs-wrapper {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: var(--space-400);
  }

  .catering-img {
    border-radius: var(--rounded-xl);
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 1350px) {
    section {
      padding: var(--y-spacing-mobile) var(--x-spacing-mobile);
    }
    section.one .wrapper-1 {
      flex-direction: column;
    }

    section.one .text {
      flex: 0 0 100%;
    }

    section.one .card.long {
      width: 100%;
      margin-left: 0;
    }

    .special-long {
      width: 100%;
      height: auto;
    }

    .cards-wrapper {
      flex-direction: column;
    }

    .card {
      width: 100%;
      height: auto;
    }

    .catering {
      grid-template-columns: 1fr;
      gap: var(--space-500);
      padding: var(--y-spacing-mobile) var(--x-spacing-mobile) 0;
    }

    .catering-imgs-wrapper {
      grid-template-columns: 1fr;
    }
  }
</style>
