---
import '@fontsource-variable/sofia-sans-extra-condensed';
import '@fontsource/poppins';
import '@fontsource/poppins/600.css';

interface Props {
  title: string;
  metaTitle?: string;
  metaDescription?: string;
  ogTitle?: string;
  canonical?: string;
}

const { title, metaTitle, metaDescription, ogTitle, canonical } = Astro.props;
---

<!doctype html>
<html lang='sr'>
  <head>
    <title>{title}</title>

    <!-- META -->
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='title' content={metaTitle} />
    <meta name='description' content={metaDescription} />

    <meta property='og:url' content={canonical} />

    <!-- OG -->
    <meta property='og:site_name' content='Stari Vajat' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:image' content='../../public/img/stari-vajat-og.jpg' />
    <meta property='og:image' content='../../public/img/stari-vajat-og.jpg' />
    <meta property='og:title' content={ogTitle} />
    <meta property='og:description' content={metaDescription} />
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='630' />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='' />

    <!-- FAVICON -->
    <link rel='icon' type='image/png' href='/img/favicon/favicon-96x96.png' sizes='96x96' />
    <link rel='icon' type='image/svg+xml' href='/img/favicon/favicon.svg' />
    <link rel='shortcut icon' href='/img/favicon/favicon.ico' />
    <link rel='apple-touch-icon' sizes='180x180' href='/img/favicon/apple-touch-icon.png' />
    <meta name='apple-mobile-web-app-title' content='Stari Vajat' />
    <link rel='manifest' href='/img/favicon/site.webmanifest' />

    <link rel='canonical' href={canonical} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    color: var(--text-primary);
    background: var(--bg);
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }

  section {
    overflow-x: hidden;
  }

  :root {
    /* Color palette - name by use case */
    --bg: #f5efdc;
    --dark-main: #232323;

    --text-100: #f5f5f5;
    --text-200: #e5e5e5;
    --text-300: #d4d4d4;
    --text-400: #a3a3a3;
    --text-500: #737373;
    --text-600: #525252;
    --text-700: #404040;
    --text-800: #262626;
    --text-900: #0a0a0a;

    --primary: #973e00; /* 500 */
    --primary-50: #fff6e8;
    --primary-100: #fde7c2;
    --primary-200: #fbd391;
    --primary-300: #f7b85c;
    --primary-400: #f39f2e;
    --primary-500: #b14a00;
    --primary-600: #7f3400;
    --primary-700: #662a00;
    --primary-800: #4d1f00;
    --primary-900: #331400;

    --secondary: #ffa500;
    --secondary-50: #fff7e6;
    --secondary-100: #ffebc2;
    --secondary-200: #ffd58a;
    --secondary-300: #ffbf52;
    --secondary-400: #ffae2b;
    --secondary-500: #ffa500;
    --secondary-600: #e69400;
    --secondary-700: #bf7b00;
    --secondary-800: #996200;
    --secondary-900: #664100;

    /* Responsive font sizes */
    --fs-100: clamp(0.75rem, 2vw + 0.25rem, 0.875rem); /* + rem is for users zooming */
    --fs-200: clamp(0.875rem, 2.5vw + 0.5rem, 1rem);
    --fs-300: clamp(1rem, 2.75vw + 0.65rem, 1.125rem);
    --fs-400: clamp(1.125rem, 3vw + 0.5rem, 1.25rem);
    --fs-500: clamp(1.375rem, 4vw + 0.75rem, 1.75rem);
    --fs-600: clamp(1.75rem, 5vw + 0.75rem, 2.5rem);
    --fs-700: clamp(2.25rem, 7vw + 0.75rem, 3.5rem);
    --fs-800: clamp(2.75rem, 8.5vw + 0.75rem, 4.25rem);
    --fs-900: clamp(3rem, 10vw + 1rem, 5rem);

    /* Spacing/Padding Scale */
    --space-100: clamp(0.25rem, 0.5vw, 0.5rem);
    --space-200: clamp(0.5rem, 1vw, 0.75rem);
    --space-300: clamp(0.75rem, 1.5vw, 1rem);
    --space-400: clamp(1rem, 2vw, 1.5rem);
    --space-500: clamp(1.5rem, 3vw, 2rem);
    --space-600: clamp(2rem, 4vw, 3rem);
    --space-700: clamp(3rem, 6vw, 4rem);
    --space-800: clamp(4rem, 8vw, 6rem);

    /* Section Spacing */
    --section-spacing-sm: clamp(0.75rem, 2vw, 1rem);
    --section-spacing-md: clamp(2rem, 4vw, 4rem);
    --section-spacing-lg: clamp(4rem, 8vw, 7.5rem);
    --section-spacing-xl: clamp(6rem, 12vw, 12rem);
    --section-spacing-xxl: clamp(8rem, 16vw, 16rem);
    --section-spacing-xxxl: clamp(10rem, 18vw, 18rem);

    --x-spacing-desktop: var(--section-spacing-lg);
    --x-spacing-tablet: var(--section-spacing-md);
    --x-spacing-mobile: var(--section-spacing-sm);

    --y-spacing-desktop: var(--section-spacing-xl);
    --y-spacing-tablet: var(--section-spacing-lg);
    --y-spacing-mobile: var(--section-spacing-xl);

    --container-spacing: clamp(1rem, 3vw, 2rem); /* Consistent edge spacing */

    /* Component Specific */
    --card-spacing: clamp(1rem, 2vw, 1.5rem);
    --button-spacing: clamp(0.5rem, 1vw, 0.75rem) clamp(1rem, 2vw, 1.5rem);

    /* Border Radius */
    --rounded-xsm: 0.125rem;
    --rounded-sm: 0.25rem;
    --rounded-md: 0.375rem;
    --rounded-lg: 0.5rem;
    --rounded-xl: 0.75rem;
    --rounded-2xl: 1rem;
    --rounded-3xl: 1.5rem;
    --rounded-full: 9999px;

    font-family: 'Poppins';
  }

  h1 {
    font-size: 128px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem !important;
    font-family: 'Sofia Sans Extra Condensed Variable', sans-serif;
    color: var(--dark-main);
  }

  h2 {
    font-size: var(--fs-700);
    font-weight: 600;
    margin: 0;
    position: relative;
    /* font-family: 'Sofia Sans Extra Condensed Variable', sans-serif; */
    color: var(--text-800);
  }

  h3 {
    line-height: 1.2;
    margin: 0;
    position: relative;
    font-size: var(--fs-400);
    color: var(--text-header);
  }

  p {
    font-size: var(--fs-300);
    color: var(--text-body);
  }

  ul li {
    font-size: var(--fs-200);
    color: var(--text-body);
  }

  /* TODO sections should already have set global padding x, y etc. */

  @media (max-width: 768px) {
    :root {
      section {
        flex-direction: column;
      }

      h1 {
        margin-bottom: 16px;
      }
    }
  }
</style>
